@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Montserrat:wght@600;700;800;900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #006D2C;
  --primary-dark: #00581f;
  --secondary: #FF7900;
  --secondary-dark: #e66d00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-display: 'Montserrat', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}
